.App {
  text-align: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Img-slide {
  max-height: 30em;
}

.Img-gallery {
  display: inline-flex;
  min-height: 2em;
  max-height: 20em;
}

.Img-list {
  display: list-item;
  min-height: 2em;
  max-height: 15em;
  display: 'block';
  width: 200;
  padding-left: 5em;
}
